// reset styles

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  background-color: transparent;
  border: none;
}

ul li,
ol li {
  list-style: none;
}

ul {
  list-style-position: inside;
}

img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
  margin: 0;
  padding: 0;
}

// reset styles


.overflow-y {
  overflow-y: hidden;
}


// fonts

@font-face {
  font-family: 'Inter-regular';
  src: url(/public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter-medium';
  src: url(/public/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Inter-bold';
  src: url(/public/fonts/Inter-Bold.ttf);
}

// fonts

* {
  font-family: 'Inter-regular';
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(213, 232, 251);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: inline-block;
    display: block;
    overflow-x: 9px;
    margin: 0;
    margin: 0 auto;
}




.wrapper {
  max-width: 1080px;
  margin-inline: auto;
  margin-block: 50px;
  border-radius: 20px;

  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  background-color: rgb(255, 255, 255);
}




// header

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    color: rgb(157, 157, 157);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-list li {
  display: flex;
  align-items: center;
  gap: 3px;

  span {
    color: rgb(157, 157, 157);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}

.header-line {
  width: 1080px;
  border: 1px solid rgb(234, 234, 234);
}







// main

.main {
  padding: 60px;
}

.sneakers-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 40px;
}

.sneakers-section {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  place-content: center;
  gap: 40px;
}

.sneakers-article {
  width: 210px;
  border: 1px solid rgb(243, 243, 243);
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-15px);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-block: 14px;
  }
}

.add-sneaker {
  display: flex;
  justify-content: space-between;
  align-items: center;


  button {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h4 {
    font-family: 'Inter-bold';
  }
}


.search-sneakers__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 200px;
  margin-top: 50px;

  .search-input {
    width: 250px;
    padding: 11px;
    display: flex;
    gap: 8px;

    border: 1px solid rgb(243, 243, 243);
    border-radius: 10px;


    input {
      border: none;
      outline: none;
      font-size: 16px;
    }
  }
}

.my-bookmarks__text {
  margin: 35px;
}

.heart-unliked {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: 20px;


  &:hover {
    transform: scale(1.2);
  }
}



// aside cart

.overlay-aside {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.cart {
  position: absolute;
  right: 0;
  width: 385px;
  height: 100%;
  box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 60px;
  }

  &-item {
    border: 1px solid rgb(243, 243, 243);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}




.remove-item-btn {
  cursor: pointer;

  img {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.cart-item__info {
  p {
    font-size: 14px;
  }

  h3 {
    font-size: 14px;
    margin-top: 8px;
    font-family: 'Inter-bold';
  }
}

.get-order {
  width: 325px;
  border-radius: 18px;
  background-color: rgb(157, 213, 88);
  padding: 18px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  img {
    transition: transform 0.16s ease-in-out;
    position: relative;
    left: 20px;
  }

  &:hover {
    img {
      transform: translateX(8px) rotate(90deg);
    }
  }

  p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter-bold';
  }
}

.cart-result1,
.cart-result2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 19px;

  strong {
    font-family: 'Inter-bold';
    font-weight: 600;
  }
}

.cart-result2 {
  margin-bottom: 24px;
}

.cart-result__line {
  width: 155px;
  border: 1px dashed rgb(223, 223, 223);
}


.close-cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-item__section {
  overflow-y: auto;
  flex: 1 1 auto;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(243, 247, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(157, 213, 88);
  }
}

.empty-cart {
  text-align: center;
  margin-top: 250px;

  h1 {
    margin-block: 10px;
  }

  p {
    color: rgba(0, 0, 0, 0.4);
  }

  button {
    width: 245px;
    margin-top: 25px;
    border-radius: 18px;
    background-color: rgb(157, 212, 88);
    padding-block: 17px;
    cursor: pointer;
    gap: 15px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      font-weight: 500;
    }

    &:hover {
      img {
        transform: rotate(90deg);
      }
    }
  }

  .empty-cart__arrow-btn {
    transform: rotate(180deg);
    transition: transform 0.16s ease-in-out;
  }
}


// .order-section {
//   padding: 15px;
// }


.checkout-order {
  margin-bottom: 400px;
}

.order-sneakers {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  place-content: center;
  place-items: center;
  gap: 40px;
  margin-top: 20px;
}